@page
@model IndexModel
@{
    ViewData["Title"] = "مكتبة الأفلام";
}

<div class="jumbotron text-center">
    <div class="container">
        <h1>مرحبًا بك في مكتبة الأفلام</h1>
        <p>استعرض أحدث وأفضل الأفلام المتوفرة لدينا</p>
        <a class="btn btn-primary btn-lg" href="/Movies">تصفح الأفلام</a>
    </div>
</div>

<div class="container">
    <h2>أحدث الإضافات</h2>
    <div class="row">
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="/images/movie1.jpg" alt="Movie 1" />
                <div class="caption">
                    <h4>اسم الفيلم 1</h4>
                    <p>نبذة عن الفيلم...</p>
                    <p><a href="/Movies/Details/1" class="btn btn-default">عرض التفاصيل</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="/images/movie2.jpg" alt="Movie 2" />
                <div class="caption">
                    <h4>اسم الفيلم 2</h4>
                    <p>نبذة عن الفيلم...</p>
                    <p><a href="/Movies/Details/2" class="btn btn-default">عرض التفاصيل</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="/images/movie3.jpg" alt="Movie 3" />
                <div class="caption">
                    <h4>اسم الفيلم 3</h4>
                    <p>نبذة عن الفيلم...</p>
                    <p><a href="/Movies/Details/3" class="btn btn-default">عرض التفاصيل</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
